
/* for image sidebar */
.sidebar-image-container {
    position: relative;
    background-color: blue;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.upload-image-container {
    position: absolute;
    display: flex;
    inset: 0;
    justify-content: center;
    align-items: center;
    font-family:'Times New Roman', Times, serif;
    font-size: 14px;
    opacity: 0;
    transition: .3s;
}

.sidebar-image-container:hover{
    border: 2px solid cyan;
}

.upload-image-container:hover {
    opacity: 1;
}